name: WORKFLOW CHANGED

on:
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/**"
  pull_request:
    branches: [ main ]
    paths:
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        # skip only on the very first push commit (no previous SHA)
        if: github.event_name == 'pull_request' || github.event.before != '0000000000000000000000000000000000000000'
        uses: tj-actions/changed-files@v44

      - name: List all modified files
        if: steps.changed-files.outcome == 'success'
        run: |
          for file in ${{ steps.changed-files.outputs.all_modified_files }}; do
            echo "$file was modified"
          done
